@charset 'UTF-8';

body {  
	background-color:#1000;
	max-width: 1000px;
	float: none;
	margin: auto;
	background: url(img/nedladdning.jpg);
}

.bg {
	border-style:solid;
	border-width:1px;
	background-color:#f07800;
	
}

header {
	border-style:solid;
	border-width:1px;
	background-color:#db4900;
	width: 100%;
	display: inline-block;
}
p {
	padding: 15px;
	width: 60%;
	margin: auto;
	font-family: EB Garamond;
	
}
.aside-left {
	width: 20%;
	float: left;
	display: block;
	min-height: 300px;
	background-color: #f07800;
}
main {
	width: 58%;
	float: left;
	display: block;
	min-height: 300px;
}
aside {
	width: 20%;
	float: right;
	display: block;
	min-height: 300px;
	background-color: #f07800;
}
footer {
	width: 100%;
	height: 10%;
	display: inline-block;
	background-color: #964b00;
}
.left-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 50px;
	background-color: #964b00;
	color: #fff;
}
.center-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 50px;
	background-color: #964b00;
	color: #fff;
}
.right-footer {
	width: 33%;
	float: right;
	display: block;
	min-height: 50px;
	background-color: #964b00;
	color: #fff;
}
.copyright {
	width: 100%;
	display: inline-block;
	background-color:#ff8000
}

.topnav {
  background-color: #f07800;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #db4900;
  color: black;
}

.topnav a.active {
  background-color: #bf6000;
  color: white;
}

.topnav .icon {
  display: none;
}

h1,h2,h3,h4,h6 {  
	font-family:Century Gothic,sans-serif;  
	padding: 3px;
	color: white;
}
h5 {
	font-family:Century Gothic,sans-serif;
	padding: 3px;
	font-size: 17px;
}

a {
	padding: 10px;
	position: realtive;
	font-family:Century Gothic,sans-serif;
	
}

.button {
  background-color: #ff6a00;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: realtive;
}

.button1 {border-radius: 8px;}

.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ff8800; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bf6600; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9c5300; 
}