.copyright {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: grey;
	color: #fff;
}

@media only screen and (max-width: 800px) {

main {
    padding: 15px;
    border-style: solid;
	border-width: 1px;
	border-color: black;
    min-height: 400px;
}

aside {
    display: none;
}
    
}

@media only screen and (min-width: 800px) {

main {
    padding: 15px;
    border-style: solid;
	border-width: 1px;
	border-color: black;
    max-width: 80%;
    width: 79%;
    min-width: 40%;
    min-height: 400px;
}

aside {
    padding: 5px;
    border-style: solid;
	border-width: 1px;
	border-color: black;
    max-width: 250px;
    width: 15%;
    float: right;
}

body{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
    
}